%dl#confidence{ :style => "display: none;" }
  %dt
    Confidence
    (
    = hide_link "#confidence"
    )
  %dd Indicates the applicability domain of a model. Predictions with a high confidence can be expected to be more reliable than predictions with low confidence. Confidence values may take any value between 0 and 1. For most models confidence &gt; 0.025 is a sensible (hard) cutoff to distiguish between reliable and unreliable predictions.
