&rarr; Create
%hr

%h1
  Create a
  %code lazar
  model

%form{ :action => '/', :method => "post", :enctype => "multipart/form-data" }
  %table
    %tr
      %th
        Training data 
        %a{:href => 'http://www.w3.org/TR/rdf-syntax-grammar/'} (RDF/XML)
      %td
        %input{:type => 'file', :name => 'file'}
    %tr
      %td
        %input{ :type => "submit", :value => "Submit"}
        %a{:href => '/'} Cancel


