.input

  %p
    This service creates 
    %a{:href => 'http://lazar.in-silico.de'} lazar
    prediction models (more model building algorithms will follow) from your uploaded datasets. Here are
    = link_to "instructions", '/csv_format'
    , how to create training datasets in Excel.

  %form{ :action => url_for('/upload'), :method => "post", :enctype => "multipart/form-data" }
    %fieldset
      %legend
        Upload training data and create a
        %a{:href => 'http://lazar.in-silico.de'} lazar
        model
      %label{:for => 'endpoint'} 1. Enter a name for your endpoint:
      %input{:type => 'text', :name => 'endpoint', :id => 'endpoint'}
      %br
      %label{:for => 'file'}
        2. Upload training data in
        = link_to "CSV", '/csv_format'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file'}
    %input{ :type => "submit", :value => "Create model"}
    = link_to "Cancel", 'create'

