.input

  %p
    This service creates 
    %ul
      %li
        %a{:href => 'http://lazar.in-silico.de'} lazar
        %em classification
        models (i.e. models that discriminate between toxic/nontoxic compounds) and
      %li
        %a{:href => 'http://lazar.in-silico.de'} lazar
        %em regression
        models (i.e. models that predict quantitative values, e.g. LC50's)
    from your uploaded datasets. Further modelling algorithms will be added in future versions.
 
  %p
    Please read the 
    = link_to "instructions for creating training datasets", '/help'
    before submitting.

  %form{ :action => url_for('/upload'), :method => "post", :enctype => "multipart/form-data" }
    %fieldset
      %label{:for => 'endpoint'} 1. Enter endpoint name and unit (for regression):
      %input{:type => 'text', :name => 'endpoint', :id => 'endpoint', :size => '50'}
      %br
      %label{:for => 'file'}
        2. Upload training data in
        = link_to "Excel", '/help'
        or
        = link_to "CSV", '/help'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
    %input{ :type => "submit", :value => "Create model"}
    = link_to "Cancel", '/create'

