.upload
  %form{ :action => '/', :method => "post", :enctype => "multipart/form-data" }
    %ol
      %li Upload training data (OWL-DL)
      %p
        %input{:type => 'file', :name => 'file'}

      %li
        %input{ :type => "submit", :value => "Submit"}
        %a{:href => '/'} Cancel

