.input

  %p
    This service creates 
    %a{:href => 'http://lazar.in-silico.de'} lazar
    classification models (more model building algorithms will follow) from your uploaded datasets. Here are
    = link_to "instructions", '/csv_format'
    , for creating training datasets in Excel.

  %form{ :action => url_for('/upload'), :method => "post", :enctype => "multipart/form-data" }
    %fieldset
      -#%legend
        Upload training data and create a
        %a{:href => 'http://lazar.in-silico.de'} lazar
        model
      %label{:for => 'endpoint'} 1. Enter a name for your endpoint:
      %input{:type => 'text', :name => 'endpoint', :id => 'endpoint', :size => '50'}
      %br
        %em Please avoid whitespaces and special characters - this may lead to prediction errors. This limitation will be removed with one of the next updates, see
        %a{:href => "http://github.com/helma/opentox-toxmodel/issues/#issue/16"} http://github.com/helma/opentox-toxmodel/issues/#issue/16
      %br
      %label{:for => 'file'}
        2. Upload training data in
        = link_to "CSV", '/csv_format'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
    %input{ :type => "submit", :value => "Create model"}
    = link_to "Cancel", 'create'

