.input

  %p
    This service creates 
    %a{:href => 'http://lazar.in-silico.de'} lazar
    %em classification
    models (i.e. models that discriminate between toxic/nontoxic compounds) from your uploaded datasets. Here are
    = link_to "instructions", '/excel_format'
    , for creating training datasets in Excel.
  %p
    Facilities to create models for quantitative values (e.g. LC50s) and further modelling algorithms will be added in future versions.

  %form{ :action => url_for('/upload'), :method => "post", :enctype => "multipart/form-data" }
    %fieldset
      -#%legend
        Upload training data and create a
        %a{:href => 'http://lazar.in-silico.de'} lazar
        model
      %label{:for => 'endpoint'} 1. Enter a name for your endpoint:
      %input{:type => 'text', :name => 'endpoint', :id => 'endpoint', :size => '50'}
      %br
      %label{:for => 'file'}
        2. Upload training data in
        = link_to "Excel", '/excel_format'
        or
        = link_to "CSV", '/csv_format'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
    %input{ :type => "submit", :value => "Create model"}
    = link_to "Cancel", '/create'

