%hr
%p
  %em This is an experimental version, please visit the production server at
  %a{:href => "http://lazar.in-silico.de"} http://lazar.in-silico.de

%h1
  %code lazar
  prediction models

%ul
  - @models.each do |model|
    %li
      %a{:href => "/#{File.basename(model)}"} #{OpenTox::Model::Lazar.find(model).endpoint.sub(/^.*[#|\/](.*)$/,'\1')}

%a{ :href => '/create' } Create a new model
