%p
  %em This is an experimental version, please visit the production server at
  %a{:href => "http://lazar.in-silico.de"} http://lazar.in-silico.de

%h1
  %code lazar
  prediction models

%a{ :href => '/create' } Create a model

%ul
  - @models.each do |model|
    %li
      %a{:href => "/#{model['id']}"}
        = model['name'].capitalize.gsub(/_/,' ')
      from 
      = model['user']
      (
      %a{:href => "/validation/#{model['id']}"} Validation 
      ) 
