!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title ToxModel
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}       

  %body
    .headline
      %logo
        %span1="Tox" 
        %span2="Create"
         
    .index
      %ul
        %li{:class => ("selected" if /create/ =~ request.path )}
          %a{ :href => "/create" } Create a prediction model
        %li{:class => ("selected" if /predict/ =~ request.path )}
          %a{ :href => "/predict" } Toxicity predictions
        %li{:class => ("selected" if /about/ =~ request.path )}
          %a{ :href => "/about" } About

    .content

      - if flash[:notice]
        .notice
          = flash[:notice]

      = yield

    .footer
      &copy;
      %a{:href => 'http://www.in-silico.ch'} in silico toxicology
      2009, powered by
      %a{:href => 'http://www.opentox.org'} <span style="color:#5D308A;font-family:arial,sans-serif,helvetica;letter-spacing:-1px;">Open</span><span style="color:#000;font-family:arial,sans-serif,helvetica;font-weight:bold;letter-spacing:-1px;position:relative;">Tox</span>

 
