- stati = @models.map{|m| "#{m.id}" if m.status != "Completed"}.compact
- stati_to_check = stati.length > 0 ? stati.join(", ") : stati = 0 
:javascript
  $(function() {
    if(#{stati != 0}) { 
      setTimeout('checkStati("#{stati_to_check}")',1500);
    }
    var reload_validation = true;
    if(reload_validation) setTimeout('checkValidation()',15000);
  });

%p Get an overview about ToxCreate models. This page is refreshed every 15 seconds to update the model status.
- @models.each do |model|
  = haml :model, :locals=>{:model=>model}, :layout => false 
