.input
  - unless @models.nil?
    %form{ :action => url_for('/predict'), :method => "post", :enctype => "multipart/form-data" }
      %fieldset
        %legend Enter a compound identifier
        %label{:for => 'identifier'} Name, InChI, Smiles, CAS, ...
        %input{:type => 'text', :name => 'identifier', :id => 'identifier'}
      %fieldset
        %legend Choose one or more prediction models
        - @models.each do |model|
          - yaml = RestClient.get model, :accept => 'application/x-yaml'
          - yaml = YAML.load yaml
          %label{:for => model}
            = yaml[:endpoint].split(/#/).last.gsub(/_/,' ')
          %input{:type => 'checkbox', :name => "selection[#{model}]", :value => true, :id => model} 
          %br

      %input{ :type => "submit", :value => "Predict"}
      = link_to 'Cancel', '/' 

