%dl#significant_fragments{ :style => "display: none;" }
  %dt
    Significant fragments
    (
    = hide_link "#significant_fragments"
    )
  %dd 
    Substructures that occur (statistically significant) more frequently in active or inactive compounds. Substuctures can take any shape (without cycles) and are determined with the 
    %a{:href => "http://www.maunz.de/libfminer2-bbrc-doc/"} fminer
    algorithm.
