!bg_color = #FFFFF3
!fg_color = #36648B
!body_color = #ECF1EF
!text_color = black

body
  min-width: 30em
  font-family: Verdana
  background-color = !body_color
  color = !text_color
  height: 100%
  padding: 1em
  
  h1
    text-align: right
    color = !fg_color
    margin: 0
    padding: 0
    background-color = !body_color
      
  .index

    ul
      margin: 0
      padding: 0
      white-space: nowrap
      list-style-type: none
   
    li
      margin: 0
      padding: 0
      display: inline
      border-right: 1px solid
        color = !bg_color
      border-top: 1px solid
        color = !bg_color
      background-color = !fg_color
      padding-left: 0.5em
      padding-right: 0.5em

      a
        text-decoration: none
        color = !bg_color
        &:hover
          color = !body_color
    
    li.selected
      font-weight: bolder
      background-color= !bg_color
      border: 1px solid
        color = !fg_color
      border-bottom: 1px solid
        color = !bg_color
      a
        color = !fg_color


  .content
    background-color = !bg_color
    height: 100%
    padding: 0.5em
    border: 1px solid
      color = !fg_color

    .notice
      background-color = !body_color
      margin: 2%
      padding: 1%
      border: 1px solid red

    .input
      text-align: left
      form
        fieldset
          border: 0
        legend
          font-weight: bold
          color = !fg_color
        label
          width: 25em
          display: block
          float: left
        br
          clear: both

    .predictions
      :text-align center
      table
        background-color: white
        :border-spacing 0
        :border-collapse collapse
        :margin 0
        :border 1px solid

        th
          :border 0
          :margin 2%
        td
          :border 1px solid
          :padding 2%

  .footer
    margin: 0.5em
    padding: 0.5em
    img
      height: 24px

.active
  color: red

.inactive
  color: green
