$bg_color: #b9dcff
$bg_color2: #e5e7eb
$fg_color: #424345
$ot_purple: #5d308a
$body_color: white
$text_color: black
$notice_border: black

body
  min-width: 30em
  font-family: verdana, arial, helvetica, sans-serif
  background-color: $body_color
  color: $text_color
  padding: 1em
  a
    text-decoration: none
    font-weight: bold
    color: $ot_purple
  a:hover
    color: black
  .headline
    .logo
      float: right

  .index
    clear: both
    ul
      margin: 0 0 2px 0
      padding: 0
      white-space: nowrap
      list-style-type: none
    li
      margin: 0
      padding: 2px
      display: inline
      border-right: 1px solid
        color: $body_color
      border-top: 1px solid
        color: $body_color
      background-color: $fg_color
      padding-left: 0.5em
      padding-right: 0.5em
      font-weight: bold
      a
        text-decoration: none
        color: $bg_color
        &:hover
          color: $body_color
    li.selected
      font-weight: bold
      background-color: $bg_color
      border: 1px solid
        color: $fg_color
      border-bottom: 1px solid
        color: $bg_color
      a
        color: $text_color
  .content
    background-color: $bg_color
    height: 100%
    padding: 1em
    border: 1px solid
      color: $fg_color
    h2
      margin: 20px 3px 2px 3px
    .notice
      padding: 1em
      background-color: $body_color
      border: 1px solid
      border-color: $notice_border
    .input
      text-align: left
      form
        padding: 1em
        background-color: $bg_color2
        border: 1px solid
          color: $fg_color
        fieldset
          margin: 0
          padding: 0
          border: 0
        legend
          font-weight: bold
          color: $fg_color
        label
          width: 25em
          display: block
          float: left
        br
          clear: both
    .code
      border: 1px solid black
      padding: 1%
      background-color: white
      table
        display: inline-table
        border-collapse: collapse
        th
          padding: 0.5em
          border: 1px solid
          background-color: #ccd2dc
        td
          padding: 0.5em
          border: 1px solid
    .predictions
      text-align: center
      overflow: auto
      table
        border-spacing: 0
        border-collapse: collapse
        margin: 0
        th
          color: $body_color
          background-color: $fg_color
          border: 1px solid
          margin: 0.5em
        td
          border: 1px solid
          background-color: $bg_color2
          padding: 0.5em
        img
          padding: 0
          height: 100%
  .model
    padding: 0em 1em
    background-color: $bg_color2
    border: 1px solid
    margin-top: 0.6em
  dl
    dt
      width: 15em
      font-weight: bold
      float: left
      clear: both
    dd
      clear: right
      margin: 0.2em 0em
      dl
        clear: both
        padding: 0em
        background-color: $bg_color2
        border: 0
        dt
          white-space: nowrap
          width: 16em
          font-weight: bold
          float: left
          clear: right
          
  .footer
    margin: 0.5em
    padding: 0.5em

.active
  color: red

.inactive
  color: green

.other
  color: black

dl
  dd
    td
      border: 1px dotted white
      text-align: right
      padding: 0.2em
      .blank
        border: 0
    th
      border-bottom: 1px dotted white
      text-align: center
      padding: 0.3em
    table
      border-collapse: collapse
